  <table class="center tc pbl ptl f2-l f2-m darkest-blue w-100">
    <tr class="bg-dark-blue white pbm">
      <th class="plm prm ptm pbm">Votes</th>
      <th class="plm prm ptm pbm">Title</th>
      <th class="plm prm ptm pbm">Cover</th>
    </tr>
    <tr ng-repeat="song in songs | orderBy: '-votes'">
      <td class="plm prm ptm pbm ba b--light-gray">
      <div><i class="fa fa-arrow-up" ng-click="voteUp(song)"></i></div>
        {{song.votes}}
        <div><i class="fa fa-arrow-down" ng-click="voteDown(song)"></i></div>
      </td>
      <td class="prm plm ptm pbm ba b--light-gray">{{song.title}}</td>
      <td class="prm plm ba b--light-gray pts"><img src="{{song.thumbnail}}" /></td>
    </tr>
  </table>
