  <p ng-show="joinError">Event does not exist. Make sure you typed it in right, or if you'd like, hit the create button below.</p>
  <p ng-show="createError">That event already exists, go ahead and try again.</p>
   <md-content  layout-padding >
      <md-input-container>
        <label>Room</label>
        <input ng-model="event" />
      </md-input-container>
        <div>
          <md-button class="md-raised md-primary" ng-click="join(event)" type="submit">Join</md-button>
          <md-button class="md-raised" ng-click="create(event)" type="submit">Create</md-button>
          </div>
        </form>
  </md-content>

